namespace: streaming-demo
kafka:
  cluster:
    name: messaging
    version: 3.9.0
  connect:
    name: debezium-kafka-connect
    username: debezium
    topic:
      creation:
        enabled: true
      prefix: debezium
      history: schema-changes.database
    connector:
      name: debezium-kafka-connector-mysql
      truststore:
        password: a38zl56rMGLS # secret: messaging-cluster-ca-cert key: ca.password
      keystore:
        password: vYrv7vWTC522witx34rMQnr4nqOLMwWf # secret: debezium key: user.password
  console:
    name: kafka-console
    hostname: kafka-console.apps.ocp4.klaassen.click
    username: console

knative:

  service:      
    name: knative-service-consumer
    uri: /event
    image: image-registry.openshift-image-registry.svc:5000/streaming-demo/simple-quarkus-function:latest
    autoscaleMin: 0
    autoscaleMax: 5
    kafka:
      topic: marco.test.customer
      username: knative-service-consumer
  
  job:
    name: kanative-job-consumer
    kafka:
      topic: marco.test.supplier
      username: knative-job-consumer
    
database:
  name: mariadb
  username: maria
  userpassword: maria
  rootpassword: rootpass
  database: mariadb
  image: registry.redhat.io/rhel9/mariadb-1011
  port: 3306
  serverid: 1