namespace: streaming-demo
kafka:
  cluster:
    name: messaging
    version: 4.0.0
  connect:
    name: debezium-kafka-connect
    username: debezium
    topic:
      creation:
        enabled: true
      prefix: debezium
      history: schema-changes.database
    connector:
      name: debezium-kafka-connector-mysql
      # Passwords are read from Kubernetes secrets at template render time:
      # truststore.password: secret "messaging-cluster-ca-cert" key "ca.password"
      # keystore.password: secret "debezium" key "user.password"
      # These secrets must exist in the target namespace before deploying
  console:
    name: kafka-console
    hostname: kafka-console.apps.ocp4.klaassen.click
    username: console

knative:

  service:      
    name: knative-service-consumer
    uri: /event
    image: image-registry.openshift-image-registry.svc:5000/streaming-demo/simple-quarkus-function:latest
    autoscaleMin: 0
    autoscaleMax: 5
    kafka:
      topic: debezium.mariadb.customer
      username: knative-service-consumer
  
  job:
    name: kanative-job-consumer
    kafka:
      topic: debezium.mariadb.supplier
      username: knative-job-consumer
    
database:
  name: mariadb
  username: maria
  userpassword: maria
  rootpassword: rootpass
  database: mariadb
  image: registry.redhat.io/rhel9/mariadb-1011
  port: 3306
  serverid: 1